* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: space-evenly;

}

.control_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
    height: 960px ;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rebeccapurple;
    width: 960px;
    height: 960px;
    outline: 5px solid black;
    margin: 25px;
    
    
}

.gridSquare {
    height: 25px;
    width: 25px;
    background-color: whitesmoke;
    box-shadow:  1px 1px rgba(0, 0, 0, 0.2),
    -1px -1px rgba(0, 0, 0, 0.2);
    
}

